<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="{{dashboard}} treeview">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <!--
            <li class="{{patients}} treeview">
                <a href="/dashboard">
                    <i class="fa fa-navicon"></i> <span>Visitor Queue</span>
                </a>
            </li>
          -->
             <li class="treeview">
                <a href="/office/{{businessId}}/main">
                    <i class="fa fa-navicon"></i> <span>Sign In Screen</span>
                </a>
            </li>
            <li class="{{employees}} treeview">
                <a href="/addemployees">
                    <i class="fa fa-group"></i>
                    <span>Employees</span>
                </a>
            </li>
            <li class="{{customers}} treeview">
              <a href="/customers">
                <i class="fa fa-group"></i>
                <span>Customers</span>
              </a>
            </li>

            <li class="{{appointments}} treeview">
              <a href="/appointments">
                <i class="fa fa-group"></i>
                <span>Appointments</span>
              </a>
            </li>

            <!-- <li class="{{settings}} treeview">
                <a href="/accountSettings">
                    <i class="fa fa-cog"></i>
                    <span>Settings</span>
                </a>
            </li> -->
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
