<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>

  {{>styles}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <style>
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #071C33;
    text-align:center;
  }
  footer h4 {
    color: #eeeeee;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 8px #ffae00;
  }
  .option-main {
    color: whitesmoke;
    font-weight: 400 !important;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.3px;
  }
  .btn-main {
    color: whitesmoke;
    font-weight: 400 !important;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.3px;
    background-color: #f39c12;
    margin-top: .6em;
  }
  .input-options {
    text-align: center;
  }
  .container {
    width: 50%;
    margin-top: 7%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    border-top: 5px solid #071C49;
  }
  .customBG {
    background-color: #EBEBEB;
  }
  .thin-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
  }
  .checkinphoto {
    margin-bottom: 5px;
  }
  .action {
    color: white;
    background-color: #ffae00;
    width: 100%;
    height: 11em;
    margin-bottom: .5em;
    border-radius: 10px;
  }
  .col-md-6 {
    padding-bottom: 10px;
  }
  </style>


</head>

<body class = "customBG">
  <div class="container">
    <img class="checkinphoto center-block" src="{{ logo }}" alt="..." width="100" height="100">
    <h2 class ="text-center thin-text"><span>Welcome to {{companyName}}</span></h2>
    <div style="text-align: center;">
      <h4 class="thin-text">How can we help you today?</h4>
      <hr style="border-color: #071C33; border-width: 1px; max-width: 250px; margin-top: 10px;">
    </div>
    <div class="row input-options">
        {{#if error}}
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 center-block" style="float:none; padding: 20px">
          <div class="alert alert-danger">{{error}}</div>
        </div>
        {{else}}
        <div class="col-md-6">
          <div class="action">
            <form action="/office/{{ businessId }}/checkin">
              <div style="padding-top: 1em;">
                <span class="option-main">CHECK IN</span>
              </div>
              <div style="text-align: center;">
                <i class="fa fa-check-square" aria-hidden="true" style="font-size: 65px; color:whitesmoke;"></i>
              </div>
              <button type="submit" class="btn btn-main">Check in now ></button>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="action">
            <form action="/office/{{ businessId }}/appointments">
              <div style="padding-top: 1em;">
                <span class="option-main">SCHEDULE</span>
              </div>
              <div style="text-align: center;">
                <i class="fa fa-calendar-plus-o" aria-hidden="true" style="padding-top:1px; padding-bottom: 2px;font-size: 60px; color:whitesmoke;"></i>
              </div>
              <button type="submit" class="btn btn-main">Schedule now ></button>
            </form>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <footer>
    <span style="color:white;">Powered by</span>
    <a href="http://cse112oldproj.herokuapp.com">
      <img src="http://cse112oldproj.herokuapp.com/images/enque-logo.png" width="90px" height="40px" style="display:block; margin:auto;">
    </a>
  </footer>

</body>
</html>
